
.ttbmDashboard .top{
    display: flex;
    align-items: center;
    justify-content: space-between;
     background-color: #3B405D;
     color: #fff;
     padding: 6px;
  
}
.ttbmDashboard .top h1{
    font-size: 18px;
}
.ttbmDashboard .top h2{
    font-size: 16px;
    font-weight: thin;
}

.ttbmDashboard .cent{
    display: flex;
}
.ttbmDashboard .cent .left {
    padding: 20px;
    height: 100vh;
    background-color: #FACA84;
    width: 20%;
}
.ttbmDashboard .cent .left .leftBottom{
    margin-top: 150px;
}

.ttbmDashboard .cent .left .leftBottom ul li{
    background-color:#E07A5F;
    border-radius: 20px;
    color: #3B405D;
    padding: 10px;
    margin-bottom: 20px;
}
.ttbmDashboard .cent .left .leftBottom ul li i{
    margin-right: 10px;
}
.ttbmDashboard .cent .left .dashboard a{
    display:block;
    background-color:#E07A5F;
    border-radius: 20px;
    color: #3B405D;
    padding: 10px;
    margin-bottom: 20px;
}
.ttbmDashboard .cent .left .dashboard a i{
    margin-right: 10px;
}

.ttbmDashboard .cent .right {
    width: 80%;
}